# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.lock

# Android
/android/.gradle/
/android/local.properties
/android/*.iml

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig

# Windows
/windows/flutter/
/windows/CMakeUserPresets.json

# MacOS
/macos/Flutter/GeneratedPluginRegistrant.swift

# Web
/web/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Keys y tokens (importante)
*.pem
*.key
.env
secrets.dart

# Build
build/
*.log